{{>navbar}}
    <div class="main-wraper">
      <div class="col-1-left"></div>
      <div class="col-2-right">
        <h1>User Management System</h1>
        <div class="row-1-main-ums">
          <h2 class="greeting">Welcome, {{usrname}}</h2>
          <div class="ums-container">
            <div class="usr_details-ums">
              <table>
                <tr>
                  <td class="title">Name</td>
                  <td>{{usrname}}</td>
                </tr>
                <tr>
                  <td class="title">Email</td>
                  <td>{{usremail}}</td>
                </tr>
                <tr>
                  <td class="title">Phone no</td>
                  <td>{{usrphone}}</td>
                </tr>
                <tr>
                  <td class="title">Address</td>
                  <td>{{usraddress}}</td>
                </tr>
                <tr>
                  <td class="title">Role</td>
                  <td>{{isadmin}}</td>
                </tr>
                <tr>
                  <td class="title">Status</td>
                  <td>{{isverified}}</td>
                </tr>
              </table>
            </div>
            <div class="usr_image-ums">
              <img src="usrImages/{{usrimage}}" alt="" />
              <div class="usr-btns">
                <a class="edit setting">setting</a>
              <a class="edit logout" href="/logout">Logout</a>
              </div>
            </div>
          </div>
        </div>
        <style>
            

        </style>
        <div class="usr-edit">
            <div class="edit-container">
                <div class="container-btns">
                    <h2>General profile setting</h2>
                    <i class="fa-solid fa-xmark close"></i>
                </div>
                <table class="table" >
                    <tr>
                        <td>Name</td>
                        <td><a  class="editname">edit</a></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="#" class="editemail">edit</a></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td><a href="#" class="editphone">edit</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="usr-edit1">
            <div class="edit-container">
                <div class="container-btns">
                    <h2>Name</h2>
                    <i class="fa-solid fa-xmark close1"></i>
                </div>
                <style>
                    
                </style>
                <div class="container">
                    <form action="/ums/editname" method="post">
                        <input type="text" placeholder="name" name="name">
                        <input type="submit" value="Save">
                        <p>
                            Please note: If you change your name, you can't change it again for 60 days. Don't add any unusual capitalization, punctuation, characters or random words.
                        </p>
                    </form>
                    
                </div>
            </div>
        </div>
        <div class="usr-edit2">
            <div class="edit-container">
                <div class="container-btns">
                    <h2>Email</h2>
                    <i class="fa-solid fa-xmark close2"></i>
                </div>
                <style>
                    
                </style>
                <div class="container">
                    <form action="#" method="post">
                        <input type="email" placeholder="Email" name="email">
                        <input type="submit" value="Save">
                        <p>
                            Please note: If you change your name, you can't change it again for 60 days. Don't add any unusual capitalization, punctuation, characters or random words.
                        </p>
                    </form>
                    
                </div>
            </div>
        </div>
        <div class="usr-edit3">
            <div class="edit-container">
                <div class="container-btns">
                    <h2>Phone</h2>
                    <i class="fa-solid fa-xmark close3"></i>
                </div>
                <style>
                    
                </style>
                <div class="container">
                    <form action="#" method="post">
                        <input type="text" placeholder="Phone" name="phone">
                        <input type="submit" value="Save">
                        <p>
                            Please note: If you change your name, you can't change it again for 60 days. Don't add any unusual capitalization, punctuation, characters or random words.
                        </p>
                    </form>
                    
                </div>
            </div>
        </div>
      </div>
    </div>
    <script src="js/index.js">
    </script>
  </body>
</html>
